<br>
<h1>Your Booking Request Details: </h1>
<p><strong>Gig Name:</strong><%= booking.schedule.gig.try(:name) %></p>
<p><strong> Venue Name: </strong> <%= booking.schedule.venue.try(:name) %></p>
<p>Schedule: <strong><%= booking.schedule.human_readable_date %></strong></p>
<p>Tickets: <strong><%= Booking.how_many_tickets(params[:schedule_id], current_user.id) %></strong></p>

<li><%#= button_to('Show', schedule_booking_path(booking), method: :get) if can? :manage, Booking %></li>

<li><%#= button_to('Delete', schedule_booking_path(booking), method: :delete, data:{confirm: 'Delete the schedule? Are you sure?'}) if can? :delete, Booking %></li>