<h1>Your Booking Request Details: </h1>
<li><p><strong>Gig Name:</strong><%= booking.schedule.gig.try(:name) %></p></li>
<li><p><strong> Venue Name: </strong> <%= booking.schedule.venue.try(:name) %></p></li>
<li><p>Schedule: <strong><%= booking.schedule.schedule %></strong></p></li>