/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 * require social-share-button
 *= require_self
 */

body {
    background-color: aqua;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.border-primary {
    border-top: 4px solid red;
    border-bottom: 4px solid #e5e5e5;
}

.menu {
    background-color: red;
    height: 40px;
}

.menu ul li a {
    line-height: 40px;
}

.inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.form {
    display: block;
    clear: both;
}



 li{ float:left; display:inline-block; margin-right: 4px;}
 img {
   //width: 100px;
   //height: 100px;
    /*max-width: 300px;*/
    /*max-height: 200px;*/
    border: 1px solid #6B1229;
 }

// for footer//
 * {
 margin: 0;
 }
 html, body {
 height: 100%;
 }

 .footer, .push {
 height: 4em;
 }
 //

 .wrapper {
     color: black;
     margin: auto;
     padding: 5px;
     width: 1000px;
 }

 .mid_tab {
     background-color: red;

 }

 h2 {
     color: brown;

 }

 .login {
     float: left;
     width: 100%;
  
 }
 .title h1 {
     color: blue;
     text-transform: uppercase;
 }
